<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <button class="btn btn-primary" (click)="callapi()">Test API</button>
    <!-- <q [hidden]="isLoading">{{ quote }}</q> -->
  </div>
  <div class="card" *ngIf="webapiData$">
    <div class="card-header">
      This is an examaple of making a secure REST API call with HTTP Client library.  The JWT Access token is passed thru the header.  The JSON response from the server is displayed in the table format.
    </div>
    <p class="card-title">REST Endpoint: https://devkit-api-employeeprofile.azurewebsites.net/api/v1/Persons</p>
    <div class="card-body" *ngIf="webapiData$">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="thead-light">
            <tr>
              <th>id</th>
              <th>firstName</th>
              <th>lastName</th>
              <th>dateofBirth</th>
              <th>fullName</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of webapiData$.result">
              <td>{{ item.id }}</td>
              <td>{{ item.firstName }}</td>
              <td>{{ item.lastName }}</td>
              <td>{{ item.dateOfBirth }}</td>
              <td>{{ item.fullName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-muted">
      Note:  To view the Access Token, click on About menu.
    </div>
  </div>
</div>
